In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
y_true=[1,2,3,0]
y_pred=[1,2,30,0]
confusion_matrix(y_true,y_pred)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0]], dtype=int64)

In [0]:
expected = [1, 1, 0, 1, 0, 0, 1, 0, 0, 0]
predicted = [1, 0, 0, 1, 0, 0, 1, 1, 1, 0]

In [0]:
result= confusion_matrix(expected,predicted)

In [0]:
result

array([[4, 2],
       [1, 3]], dtype=int64)

In [0]:
import pandas as pd 
bank=pd.read_csv("E:/r/bill_authentication.csv")

In [0]:
bank.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [0]:
X=bank.drop('Class',axis=1)
X.head()

   Variance  Skewness  Curtosis  Entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [0]:
Y=bank['Class']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [0]:
x_train.head()

      Variance  Skewness  Curtosis  Entropy
344     3.5982   7.13070   -1.3035  0.21248
944    -2.1210  -0.05588    1.9490  1.35300
1370   -3.5637  -8.38270   12.3930 -1.28230
1243   -5.0676  -5.18770   10.4266 -0.86725
794    -1.6244  -6.34440    4.6575  0.16981

In [0]:
x_test.head()

     Variance  Skewness  Curtosis  Entropy
870   -1.9423    0.3766  -1.28980 -0.82458
442    3.3590    9.8022  -3.82090 -3.71330
597    5.6084   10.3009  -4.80030 -4.35340
981   -6.0598    9.2952  -0.43642 -6.36940
842   -1.8969   -6.7893   5.27610 -0.32544

In [0]:
from sklearn.svm import SVC

In [0]:
# gaussin rbf
svcclassifierL=SVC(kernel='linear')

In [0]:
svcclassifierL.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
svcclassifierp=SVC(kernel='poly')
svcclassifierp.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
y_pred=svcclassifierL.predict(x_test)
y_pred

array([1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0], dtype=int64)

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [0]:
y_test.head()

870    1
442    0
597    0
981    1
842    1
Name: Class, dtype: int64

In [0]:
print(confusion_matrix(y_test,y_pred))

[[161   4]
 [  1 109]]

In [0]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.99      0.98      0.98       165
          1       0.96      0.99      0.98       110

avg / total       0.98      0.98      0.98       275

In [0]:
 data=pd.read_csv("E:/r/PRSA_data_2010.1.1-2014.12.31.csv")
data.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [0]:
from datetime import datetime

In [0]:
def parse(x):
    return datetime.strptime(x,'%Y %m %d %H')

In [0]:
dataset =pd.read_csv('E:/r/PRSA_data_2010.1.1-2014.12.31.csv',  parse_dates = [['year', 'month', 'day', 'hour']], index_col=0, date_parser=parse)
dataset.head()

                     No  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00   1    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00   2    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00   3    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00   4    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00   5    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [0]:
dataset.drop('No',axis=1,inplace=True)

ValueError: labels ['No'] not contained in axis

In [0]:
dataset.head()

                     pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [0]:
dataset.index_name='date'

In [0]:
dataset.columns = ['pollution', 'dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']

In [0]:
dataset.index.name= 'date'
dataset.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-01 00:00:00        NaN  -21 -11.0  1021.0      NW     1.79     0     0
2010-01-01 01:00:00        NaN  -21 -12.0  1020.0      NW     4.92     0     0
2010-01-01 02:00:00        NaN  -21 -11.0  1019.0      NW     6.71     0     0
2010-01-01 03:00:00        NaN  -21 -14.0  1019.0      NW     9.84     0     0
2010-01-01 04:00:00        NaN  -20 -12.0  1018.0      NW    12.97     0     0

In [0]:
dataset['pollution'].fillna(0,inplace=True)

In [0]:
dataset.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-01 00:00:00        0.0  -21 -11.0  1021.0      NW     1.79     0     0
2010-01-01 01:00:00        0.0  -21 -12.0  1020.0      NW     4.92     0     0
2010-01-01 02:00:00        0.0  -21 -11.0  1019.0      NW     6.71     0     0
2010-01-01 03:00:00        0.0  -21 -14.0  1019.0      NW     9.84     0     0
2010-01-01 04:00:00        0.0  -20 -12.0  1018.0      NW    12.97     0     0

In [0]:
dataset = dataset[24:]

In [0]:
dataset.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [0]:
values=dataset.values

In [0]:
from matplotlib import pyplot as plt 
groups=[0,1,2,3,4,5,6,7]
i=1
%matplotlib notebook

Warning: Cannot change to a different GUI toolkit: notebook. Using qt instead.

In [0]:
for group in groups:
    plt.subplot(len(groups),1,i)
    plt.plot(values[:,group])
    plt.title(dataset.columns[group],y=0.5,loc='right')
    i+=1
plt.show()

In [0]:
len(groups)

8